.container {
    border: 2px turquoise solid;
    background-color: darkgray;
    color: darkgray;
    }

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: turquoise;
    text-align: center;
  }

  #about {
    color: black;
  }
  
  #port {
    justify-content: center;
  }


  @media only screen and (max-width: 992px) {
    .container {
      width: 80%;
      margin-right: 40%;
    }
  }